body{
    background:url(image/street.jpg) center center fixed;
    background-size: cover;
    color:#fff;
    font-family:Arvo, serif;
}

.jumbotron{
    background-color:transparent;
    margin:0;
    padding:10px;
}
.jumbotron h1{
    letter-spacing:2.5px;
}
.jumbotron h1, .jumbotron p {
    text-align:center;
}

/* google map*/
#googleMap{
    width:400px;
    height:200px;
    margin:10px auto;
}

/*outputbox*/
.alert-info{
    text-align:center;
    font-size:2em;
    margin:20px auto;
}

.alert-danger{
    text-align:center;
    font-size:2em;
    color:red;

}